*{
    margin: 0;
    padding: 0;
    font-family: "Merriweather Sans", system-ui;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 10px;
    overflow: hidden;
    gap: 30px;
}
.text_1{
    font-weight: bold;
    font-size: 30px;
}

.SubLabel{
    font-size: 20px;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

option{
    text-align: center;
}

select{
    height: 50px;
    border-radius: 5px;
    width: 300px;
    font-size: 20px;
    border: 2px black solid;
}

.button{
    width:170px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
}
.button:active{
    background-color: rgb(212, 212, 212);
}

.container_1{
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow-y: scroll;
    scrollbar-width: none;
    gap: 25px;
}

.cgpainput{
    height: 50px;
    border-radius: 5px;
    width: 300px;
    font-size: 20px;
    border: 2px black solid;
    text-align: center;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: -100%;
    background-color: white;
    transition:all ease-in-out 1s;
    text-align: center;
    gap: 50px;
}

.overlay.active{
    top: 0;
}

.text_2{
    font-size: 32px;
}

.sgpavalue, .cgpavalue{
    font-size: 64px;
}

